In [12]:
import dask.dataframe as dd
from dask.distributed import Client
import pandas as pd

client = Client()
client

/Users/humphreyyang/anaconda3/envs/bo/lib/python3.9/site-packages/distributed/node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 60661 instead
  warnings.warn(

In [25]:
df = dd.read_csv('stock_monthly_full.csv', 
                 dtype={'ff49': 'float64',
                        'iid': 'object',
                        'sic': 'float64'})

In [26]:
df.shape

(Delayed('int-a01c53c3-baf7-4125-a338-0ec7630c5cd7'), 443)

In [15]:
import pandas_datareader.data as web    # pandas 0.19.x and later
import datetime
start = datetime.datetime(1900, 1, 1)
end = datetime.datetime(2024, 1, 1)

infl = web.DataReader(['CPIAUCNS'], "fred", start, end)
infl

            CPIAUCNS
DATE
1913-01-01     9.800
1913-02-01     9.800
1913-03-01     9.800
1913-04-01     9.800
1913-05-01     9.700
...              ...
2023-08-01   307.026
2023-09-01   307.789
2023-10-01   307.671
2023-11-01   307.051
2023-12-01   306.746

[1332 rows x 1 columns]

In [16]:
# svar, de, lty, tms, tbl, dfr, dp, dy, ltr, ep, b/m, and ntis, as well as one lag of the market return.

SyntaxError: invalid syntax (3878931593.py, line 1)

In [ ]:
corp_bond = web.DataReader(["AAA", "BAA"], "fred", start, end)
dfy = corp_bond['BAA'] - corp_bond['AAA']
dfy

DATE
1919-01-01    1.77
1919-02-01    1.85
1919-03-01    1.76
1919-04-01    1.79
1919-05-01    1.70
              ...
2023-08-01    1.07
2023-09-01    1.03
2023-10-01    1.02
2023-11-01    1.01
2023-12-01    0.90
Length: 1260, dtype: float64

In [ ]:
ltr = web.DataReader(['IRLTCT01USM156N'], "fred", start, end)
ltr

            IRLTCT01USM156N
DATE
1960-01-01         4.370000
1960-02-01         4.220000
1960-03-01         4.080000
1960-04-01         4.170000
1960-05-01         4.160000
...                     ...
2023-08-01         4.400435
2023-09-01         4.608000
2023-10-01         5.099524
2023-11-01         4.808571
2023-12-01         4.284000

[768 rows x 1 columns]

In [29]:
de = df['div_ni'].compute()